@CHARSET "UTF-8";
body{
	width:100%;
	height:100%;
	background-color: #006BAC;
	margin: 0 auto;
}
.content{
	background-image: url("../image/login.jpg");
	background-repeat:no-repeat;
	width:837px;
	height:535px;
	margin: 0 auto;
}
.content1{
	width:550px;
	height:361px;
	margin: 0 auto;
}
form{
	width:450px;
	height:261px;
	margin: 0 auto;
	position: relative;
	top: 200px;
}
form table tr td{
	text-align: center;
}