@charset "utf-8";
/* CSS Document */

html{ margin:0px; padding:0px;}
body{ margin:0px; margin:0px; font-family:Arial, Helvetica, sans-serif; font-size:12px; }
*{ margin:0px; padding:0px;}
div{ margin:0px; padding:0px;}
ul{ margin:0px; padding:0px; list-style:none}
li{ margin:0px; padding:0px; list-style:none}
ol{ margin:0px; padding:0px; list-style:none}
dl{ margin:0px; padding:0px;}
dt{ margin:0px; padding:0px;}
tt{ margin:0px; padding:0px;}
h1{ font-size:100%; margin:0px; padding:0px;}
h2{font-size:100%; margin:0px; padding:0px;}
h3{font-size:100%; margin:0px; padding:0px;}
h4{font-size:100%; margin:0px; padding:0px;}
h5{font-size:100%; margin:0px; padding:0px;}
h6{font-size:100%; margin:0px; padding:0px;}
p{ margin:0px; padding:0px;}
form{ margin:0px; padding:0px;}
th{ margin:0px; padding:0px; }
td{ margin:0px; padding:0px; }
img{ margin:0px; padding:0px;}
input{
   margin:0px; padding:0px;  margin:0px; font:100% Arial, Helvetica, 
   clean, sans-serif; font-size-adjust:none; font-stretch:normal; color:#53684d
}
input[type=button]{ background:#f8f8f8; cursor:pointer;}
input[type=button]:hover{ background:#abd7f5; }
textarea{ 
   margin:0px; padding:0px;  margin:0px; font:100% Arial, Helvetica, 
   clean, sans-serif; font-size-adjust:none; font-stretch:normal;
}
select{
  margin:0px; font:100% Arial, Helvetica, clean, sans-serif; 
  font-size-adjust:none; font-stretch:normal;
}
a{ text-decoration:none;color:#000000;}
a:focus{ outline:none}
img{ border:none}
b{ font-style:normal;}
em{ font-style:normal}
i{ font-style:normal;}
.clr{ clear:both;}

/*login*/
.login{ width:824px; height:509px;margin:0px auto; background:url(../image/login.png) no-repeat; margin-top:80px; color:#fff; font-size:13px;}
.login-logo{ padding:46px 0px 0px 192px; width:132px; height:80px;}
.login table{ width:215px; margin:30px auto;}
.login  td{ height:32px;}
.login input,img{ vertical-align:middle;}
.login .input1{ width:146px; height:22px; background:url(../image/login_input1.gif) no-repeat; border:1px solid #8cc3f9; color:#0e4a88; line-height:22px; padding-left:5px; font-size:12px;}
.login .input2{ width:90px; height:22px; background:url(../image/login_input2.gif) no-repeat; border:1px solid #8cc3f9; margin-right:5px; font-size:12px;}
.login .td1{ padding-top:15px;}
.login-copy{ text-align:center;}
/*login end*/
/*public*/
.container{ width:100%; height:auto; background:url(../image/container.gif) repeat-x;}
.header{ width:100%; height:84px; background:url(../image/header.jpg) no-repeat;}
.main{ background:#fff;}
.logo{ float:left;}
.message{ float:right; color:#fff; padding:60px 20px 0px 0px;}
.message i{ color:#c00;}
.message a{ color:#fff; margin:0px 3px;}
.message a:hover{ color:#c00; text-decoration:underline;}
.top{ width:auto; height:24px; line-height:24px; background:url(../image/top.gif) repeat-x; color:#205d8a; padding:5px 0px 0px 20px;}
.core a{display:block; color:#205d8a;}
.core{height:18px;overflow:hidden; line-height:18px;}
.left{ width:182px; height:585px; float:left;  border-right:1px solid #107acb;border-bottom:1px solid #107acb; _margin-right:-186px; background:#fff;}
.right{width:auto;height:585px; border-bottom:1px solid #107acb; margin-left:183px; background:#fff; }
.right-title{ height:31px; background:url(../image/right.gif) repeat-x; font-size:14px; color:#29679a; font-weight:bold; padding-left:10px; line-height:31px; position:relative;}
.right-title span{ position:absolute; right:40px; _bottom:0px; *bottom:0px;}
.right-title span a{ color:#c00; font-size:14px;font-weight:normal;}
#levelmenu h5{width:142px;height:31px;line-height:31px; text-align:left; padding-left:40px;overflow:hidden;background:url(../image/left3.gif) no-repeat; font-weight:normal;color:#fff; cursor:pointer;}
#levelmenu div.unit ul{display:none;line-height:28px;}
#levelmenu div.current ul{display:block;}
#levelmenu div.current h5{width:142px;height:31px;line-height:31px; text-align:left; padding-left:40px;overflow:hidden;background:url(../image/left1.gif) no-repeat; font-weight:normal;color:#fff; cursor:pointer;}
#levelmenu div.current ul li{ background:url(../image/left4.gif) no-repeat; height:31px; line-height:31px; overflow:hidden;}
#levelmenu div.current ul li a{color:#444; text-decoration:none; text-align:left; padding-left:40px; display:block;}
#levelmenu div.current ul li a:hover{ background:url(../image/left2.gif); color:#444;}
#levelmenu div.current ul li .cur1{ background:url(../image/left2.gif); color:#444;}
#levelmenu div.current h5{background-position:left bottom;}
.content{ padding:0px 10px;}
.footer{ height:40px; background:url(../image/footer.gif) repeat-x; color:#fff; line-height:20px; padding:10px;}
.soso{ height:61px; line-height:61px; text-align:center; padding-top:15px;}
.soso img,input{ vertical-align:middle;}
.soso img{ margin:0px 20px;}
.search{height:30px; line-height:30px; text-align:center; padding-top:20px; font-weight:bold;}
.soso img,input,select{ vertical-align:middle;}
.del{ color:#c00; text-decoration:underline; margin-left:10px;}
/*public end*/

/*welcome*/
.notice{  margin:20px;  background:#fbfdff; border:1px solid #e6e6e6; padding:10px; height:60px; }
.notice-title{ margin-top:-18px; color:#107acb; font-weight:bold; position:relative; z-index:0  }
.notice-title p{ margin-top:-18px; color:#107acb; font-weight:bold; position:relative; z-index:1 }

.notice ul{ padding:10px;}
.notice li{ float:left; width:360px;  line-height:25px; background:url(../image/li.gif) no-repeat 0% 50%;  _margin-bottom:-10px; position:relative; }
.notice li a{ padding-left:10px; color:#444;}
.notice li a span{ right:20px; position:absolute;}
.notice li a:hover{ text-decoration:underline;}
/*welcome end*/

/*基本信息列表*/
.list{ padding:0px 10px;}
.list-title{ height:30px; line-height:30px; font-size:14px; padding:0px 10px; position:relative; }
.list-title1{ border-bottom:1px solid #1f8ada;}
.list-title span{ margin:0px 5px;}
.list-title img,input{ vertical-align:middle; margin-right:3px;}
.list-title h2{ color:#1782d2; width:200px; height:30px; float:left;}
.list-title p{  height:30px; line-height:30px; font-size:12px; width:400px; float:right; text-align:right;}

.list-table table{  border-collapse:collapse; width:100%; margin:0px auto; }
.list-table i{ color:#f60;}
.list-table th{ background:url(../image/th.gif) repeat-x; height:27px; line-height:27px; color:#0a366b; font-weight:normal;border:1px solid #c9ddf0;padding:0px 10px;}
.list-table td{ border:1px solid #c9ddf0; padding:0px 10px; height:27px; line-height:27px; color:#444;}
.list-table .tc{ text-align:center;}
.list-table .fanye a{ color:#1580D0; margin:0px 3px;}
.list-table .fanye a:hover{ color:#f00;}
/*
.list-table .ta a{ margin:0px 3px; color:#0a366b;}
.list-table .ta a:hover{ text-decoration:underline;}
*/
.list-table .ta a{ margin:0px 3px; color:#0a366b; display:block; float:left; padding:0px 5px; background:#3ea2ec; height:18px; line-height:18px; color:#fff;}
.list-table .ta a:hover{ background:#0b74c5;}
.list-table .ta .qhzt{ margin:0px 3px; color:#0a366b; display:block; float:left; padding:0px 5px; background:#e4e4e4; height:22px; line-height:22px; color:#aaa;}
.list-table .tr1{ background:#f6fbff;}
.list-table .tryel td{color:#f60;}
.list-table .trred td{color:#f00;}
.list-table tr:hover{ background:#7dc0ee; color:#fff; cursor:pointer;}
.list-table .tb{ background:#e7f1f8; color:#1580d0;}
.list-table .tb p{ text-align:right; padding-right:10px; margin-top:-27px;}
.list-table .tb h2{ height:27px; line-height:27px; font-weight:normal;}
.list-table .thover a{ margin:0px 3px; color:#0a366b;  }
.list-table .thover a:hover{ color:#f00;}
.list2{ padding:20px 0px; min-height:450px; height:auto !important; height:450px; width:990px; margin:0px auto;}

/*工程项目信息录入*/
.form1{ color:#444; font-size:12px; font-weight:bold; padding:20px; margin-left:200px;}
.form1 table{ border-collapse:collapse;}
.form2 td{ border:1px solid #e6e6e6; padding-left:10px;}
.form2 .last{ border:none;}
.form1 .tdr{ text-align:right;}
.form1 input{ font-size:12px; color:#aaa;}
.form1 b{ color:#ff6600;}
.input120{ width:120px; height:20px; line-height:20px; border:1px solid #e6e6e6;padding:0px 10px;}
.input250{ width:250px; height:20px; line-height:20px; border:1px solid #e6e6e6;padding:0px 10px;}
.input300{ width:300px; height:20px; line-height:20px; border:1px solid #e6e6e6;padding:0px 10px;}
.input350{ width:350px; height:20px; line-height:20px; border:1px solid #e6e6e6;padding:0px 10px;}
.form1 td{ height:35px; line-height:35px;}
.form1 .tdb{ text-align:center; padding-top:10px;}
.form1 .tdb input{ margin:0px 50px;}
.form1 .photo img{ width:91px; height:117px; padding:2px; border:1px solid #e6e6e6;}
.form1 .tdp{ padding-top:60px; }
.form1 .tdbo{ border-top:1px dashed #e6e6e6; padding:10px 0px;}
.form1 .picture{ padding:10px; border:1px solid #e6e6e6; margin:10px 0px; text-align:center; min-width:680px; width:auto !important; width:680px;}
.tphoto img{ padding:2px; background:#fff; border:1px solid #e6e6e6; width:91px; height:117px;}
.tphoto p{padding-left:25px;}
.form1 .tdf{ font-weight:normal;}
.form1 i{ color:#f00; font-weight:normal; }
.form1 .tdt{ vertical-align:top;}
.form1 .tdf p{ line-height:20px; padding:10px;}
.form1 .tdimg{ padding:10px;}
.tdimgs{ width:120px; height:150px; border:1px solid #e6e6e6; margin:10px 10px; margin-left:0px;}
.news-detail{ padding:20px;}
.news-detail h2{ height:30px; line-height:30px;text-align:center; font-size:14px;}
.news-detail h3{ height:20px; line-height:20px; border-bottom:1px solid #d7d7d7; font-size:12px; text-align:right; padding-right:10px; font-weight:normal; margin-bottom:10px;}
.news-detail h3 i{ color:#f60;}
.news-detail p{ line-height:20px; text-indent:2em;}
.news-beizhu{ height:30px; line-height:30px; border-top:1px dashed #e6e6e6; margin-top:20px; text-align:right;}
.news-beizhu i{ color:#f60; margin-right:20px;}
.mt20{ margin-top:20px;}
/*news*/
.news{ width:70%; margin:0px auto; padding:20px 0px;}
.news-mol{ width:48%;  border:1px solid #a4d3f4; margin-bottom:20px; }
.newsl{ float:left;}
.newsr{ float:right;}
.news .mr0{ margin-right:0px;}
.news-title h2{ height:25px; line-height:25px; background:#2d8cd8; position:relative; color:#fff; padding-left:10px; font-size:14px;}
.news-title span{ position:absolute; right:10px; _bottom:0px; *bottom:0px;}
.news-title span a{ color:#fff; font-weight:normal; font-size:12px;}
.news-title span a:hover{ color:#c00;}
.news-mol ul{padding:10px;}
.list1 li{ height:25px; line-height:25px; position:relative; border-bottom:1px dashed #e6e6e6;}
.list1 li a{ color:#444;}
.list1 li a:hover{ color:#2d8cd8;}
.list1 li span{ position:absolute; right:0px; _bottom:0px; *bottom:1px;}
.list1 li span i{ color:#c00; margin-left:5px;}
.newsTo{ margin-bottom:20px;  margin-bottom:20px; background:#f8f8f8; height:60px; border:1px solid #a4d3f4;}
.newsTo a{ display:block; width:120; height:60px; line-height:60px; text-align:center; color:#0c75c6; font-size:18px; font-weight:bold; }
.newsTo a:hover{ color:#c00; text-decoration:underline;}
/*news end*/
/*pop*/
.blk{ position:absolute; left:50%; top:0px; }
.pop{ width:400px; min-height:400px; height:auto !important; height:400px; border:1px solid #c9ddf0; background:#f8f8f8; text-align:left;}
.pop h2{ background:#6bb7eb; height:30px; line-height:30px; padding-left:10px; color:#fff;}
 a.closeBtn{position:absolute;top:5px;right:5px;display:block;width:30px;padding:0px;margin:0px;text-align:center;background:#fff;border:1px solid #85B6E2;color:#333; height:20px; line-height:20px;}
 a.closeBtn:hover{color:#fff;border:1px solid #85B6E2;background:#85B6E2;}
.add-search{ padding:10px 20px; text-align:center;}
.add-user{ padding:0px 20px 10px 20px; color:#444;}
.add-user li{ height:28px; line-height:28px; border-bottom:1px dashed #e6e6e6;}
.add-user li span{ margin-left:20px;}
.szqx { padding:10px;}
.szqx li{ height:30px; line-height:30px; float:left; width:95px;}

.add-user1 li{ position:relative;}
.add-user1 li b{ position:absolute; right:20px; top:5px;}
.inputtz{width:30px; height:16px; line-height:16px; text-align:center; border:1px solid #e6e6e6; margin:0px 3px;}
/*word-mol*/
.word-mol{ width:700px; margin:20px auto;}
.word-mol td{ line-height:30px;}
.word-mol .tdr{ text-align:right;}
.word-mol .tdc{ text-align:center;}
.word-mol .tdt{ vertical-align:top;}
.textarea350{ width:350px; min-height:80px; height:auto !important; height:80px; }
.select120{ width:120px; height:20px; line-height:20px; color:#aaa; border:1px solid #e6e6e6;}
.select300{ width:300px; height:20px; line-height:20px; color:#aaa; border:1px solid #e6e6e6;}
.table-tj .select-jj{ margin-left:20px;}
.inputtj{ width:50px; height:22px; text-align:center; cursor:pointer;}
.inputtj1{ width:60px; height:22px; text-align:center; margin-top:10px;cursor:pointer;}
.ml20{ margin-left:20px;}
.table-xs{ width:99%; border-collapse:collapse;}
.table-xs th{ background:url(../image/th.gif) repeat-x; height:27px; line-height:27px; color:#0a366b; font-weight:normal;border:1px solid #c9ddf0;padding:0px 10px;}
.table-xs td{ border:1px solid #c9ddf0; padding:0px 10px; height:27px; line-height:27px; color:#444;}
.table-xs .tr1{ background:#f6fbff;}
.table-xs .ta a{ margin:0px 3px; color:#0a366b; display:block; float:left; padding:0px 5px; background:#3ea2ec; height:18px; line-height:18px; color:#fff;}
.table-xs .ta a:hover{ background:#0b74c5;}
.table-xs .ta .qhzt{ margin:0px 3px; color:#0a366b; display:block; float:left; padding:0px 5px; background:#e4e4e4; height:22px; line-height:22px; color:#aaa;}
.table-list{ border-collapse:collapse; width:80%;}
.table-list td{ border-bottom:1px dashed #e6e6e6; padding-left:10px;}
/*word-mol end*/
